---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
---

<Layout title="Elevando el estándar">
  <Header />
  <h1 class="text-7xl text-white font-brandon font-bold">HELLO WORLD</h1>
</Layout>