<section>
  <div class="bg-azul_claro text-white max-w-[1200px] mx-auto px-6 py-10 lg:p-16 font-georgia">
    <p class="text-3xl">
      <span class="font-bold">Objetivo:</span> crear conciencia sobre los riesgos del uso indebido de los antibióticos, teniendo en cuenta la advertencia de la OMS sobre las inminentes consecuencias para la salud y la vida de la población mundial.
  </div>
</section>
