<section>
  <div class="bg-azul_claro text-white max-w-[1200px] mx-auto px-6 py-10 lg:p-16 font-georgia">
    <p class="text-3xl">
      <span class="font-bold">Objetivo:</span> crear conciencia sobre los riesgos del uso indebido de la azitromicina,
      teniendo en cuenta que la OMS cataloga este medicamento como uno de los
      antimicrobianos de máxima prioridad e importancia crítica, que debe
      utilizarse con prudencia para prevenir la resistencia bacteriana.
    </p>
  </div>
</section>
