---
import { URL_BASE } from "../variables";
---

<header class="flex bg-azul_oscuro py-4 px-2 lg:px-8 font-brandon">
  <div class="basis-3/4 text-amarillo_abbott">
    <h1 class="text-xl lg:text-3xl xl:text-4xl">ENCUENTRA EL CAMINO AL USO RACIONAL DE LOS ANTIBIÓTICOS <span class="font-bold block">PARA PREVENIR LA RESISTENCIA BACTERIANA</span></h1>
  </div>
<nav class="basis-1/4 flex justify-end items-center">
  <a href={URL_BASE} class="inline-block">
    <svg
      version="1.1"
      id="svg1"
      width="40.202148"
      height="40.20266"
      viewBox="0 0 40.202147 40.20266"
    >

      <g id="g205" transform="translate(-6561.7194,-101.67547)">
        <path
          id="path239"
          d="m 0,0 v 0.589 c 0.124,0.438 0.387,0.775 0.714,1.088 4.474,4.28 8.94,8.567 13.413,12.848 0.215,0.206 0.472,0.368 0.709,0.551 h 0.471 c 0.211,-0.154 0.438,-0.29 0.629,-0.465 1.311,-1.197 2.615,-2.403 3.922,-3.606 0.06,-0.055 0.127,-0.103 0.197,-0.159 0.018,0.042 0.031,0.059 0.031,0.076 0.003,0.598 0.003,1.197 0.005,1.795 0.003,0.74 0.366,1.106 1.103,1.107 1.354,0.002 2.708,10e-4 4.062,0 0.758,-10e-4 1.119,-0.361 1.119,-1.116 0.001,-2.335 0.032,-4.672 -0.018,-7.006 -0.015,-0.737 0.174,-1.257 0.732,-1.748 0.89,-0.782 1.71,-1.646 2.55,-2.485 0.496,-0.497 0.654,-1.096 0.378,-1.753 -0.27,-0.641 -0.78,-0.961 -1.48,-0.967 -0.314,-0.002 -0.628,0 -0.942,0 -0.399,0 -0.798,0 -1.219,0 v -0.387 c 0,-3.788 0,-7.576 -0.001,-11.364 0,-1.299 -0.77,-2.073 -2.06,-2.074 -1.648,0 -3.296,0 -4.945,0 -0.818,0 -1.163,0.343 -1.163,1.161 0,2.679 0,5.358 0,8.037 0,0.49 -0.045,0.534 -0.543,0.534 -1.737,0 -3.473,0 -5.21,0 -0.47,-10e-4 -0.517,-0.049 -0.517,-0.529 0,-2.699 0.001,-5.397 -10e-4,-8.096 0,-0.744 -0.363,-1.106 -1.099,-1.107 -1.668,0 -3.336,0 -5.004,0 -1.296,0.001 -2.065,0.771 -2.065,2.07 0,3.797 0,7.595 0,11.393 v 0.362 C 3.011,-1.251 2.296,-1.253 1.582,-1.25 0.957,-1.247 0.495,-0.959 0.188,-0.423 0.111,-0.29 0.062,-0.141 0,0"
          style="fill:#ffffff; fill-opacity:1;fill-rule:nonzero;stroke:none"
          transform="matrix(1.3333333,0,0,-1.3333333,6561.7195,121.7768)"
          clip-path="url(#clipPath240)"></path>
      </g>
    </svg>
  </a>
</nav>
</header>
