---
import ApprobalCode from "../components/ApprobalCode.astro";
import { URL_BASE } from "../variables";
---

<main class="font-brandon">
  <div
    class="max-w-[1200px] mx-auto relative bg-cover bg-center flex items-center"
    style={`background-image: url('${URL_BASE}/images/banner.webp');`}
  >
    <div class="bg-black/20 absolute inset-0 z-0"></div>
    <div class="relative z-10 text-white px-4 py-10 lg:p-16">
      <div class="w-full md:w-[72%] flex flex-col items-start gap-16">
        <h1 class="text-4xl lg:text-5xl">
          <span class="font-bold">ELEVANDO</span><br /> EL ESTÁNDAR
        </h1>
        <p class="text-4xl lg:text-6xl text-amarillo_abbott">
          ENCUENTRA EL CAMINO AL USO RACIONAL DE LOS ANTIBIÓTICOS <span
            class="font-bold"></span>PARA PREVENIR LA RESISTENCIA BACTERIANA
        </p>
      </div>
      <a
        href={URL_BASE + "/laberinto/"}
        class="bg-blanco_abbott inline-block text-azul_oscuro px-6 py-3 rounded-full text-2xl mt-6"
        ><span class="font-bold">HAZ CLIC AQUÍ</span> PARA EMPEZAR</a
      >
    </div>
    <ApprobalCode class="top-20 -right-4 md:right-10 -rotate-90" />
  </div>
</main>
