---
import { URL_BASE } from '../variables';
interface Props {
	title: string;
	bg: string | undefined;
}

const { title, bg } = Astro.props;
const bgClass = bg ? `bg-${bg}` : 'bg-azul_claro';

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Encuentra el camino al uso racional de los antibióticos para prevenir la resistencia bacteriana" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href={URL_BASE + "/icon-192x192.png"} />


		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={bgClass}>
		<slot />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@font-face {
  font-family: 'Brandon';
  src: url('/apps/abbott/laberinto-klaricid/font/Brandon_reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon';
  src: url('/apps/abbott/laberinto-klaricid/font/Brandon_blk.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
	html {
		font-family: system-ui, sans-serif;
	}
</style>
